{{ define "content" }}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <p>
        <h3>Query Debugger</h3>

<div class="container">
  <form id="my-form" onSubmit="return postMyFormData();">
    <div class="form-group row">
      <label for="optionget" class="col-sm-2 col-form-label">Query type</label>
      <div class="col-sm-10">

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="optionget" autocomplete="off" value="GET" checked> GET
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="optionpost" autocomplete="off" value="POST"> POST
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="optionput" autocomplete="off" value="PUT"> PUT
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="optiondelete" autocomplete="off" value="DELETE"> DELETE
  </label>
</div>

      </div>
    </div>
    <div class="form-group row">
      <label for="inputUrl" class="col-sm-2 col-form-label">URL</label>
      <div class="col-sm-10">
         <input class="form-control" type="text" value="/" id="inputUrl">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputData" class="col-sm-2">Data</label>
      <div class="col-sm-10">
      	<textarea class="form-control" id="inputData" rows="1"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <button type="submit" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin'></i>Processing">Execute query</button>
      </div>
      <div class="col-sm-10">
        <a href="#" onClick="deleteCookie('kc-access'); deleteCookie('kc-state'); return false;">Delete keycloak auth cookies <i>kc-access, kc-state</i></a>
      </div>
    </div>
  </form>
</div>


<script>
$('#load').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 8000);
});

function postMyFormData() {
    var response = '';
    $('#response').hide();
    try {
    response=jQuery.parseJSON($('#inputData').val());
    }
    catch(err) {
        response = 'error';
    }
    if(typeof response =='object') {
	$.ajax({
	        type: $('input[name=options]:checked', '#my-form').val(),
        	url: $('#inputUrl').val() + '?nohtml=true',
	        data: $('#inputData').val(),
        	success: function(result) {
                  $('#response').html(result);
                },

	        dataType: "json",
        	contentType : "application/json; charset=utf-8"
    	});
    } else {
  	  $.ajax({
        	type: $('input[name=options]:checked', '#my-form').val(),
	        url: $('#inputUrl').val() + '?nohtml=true',
        	data: $('#inputData').val(),
	        success: function(result) { 
                  $('#response').html(result);
                },
        	dataType: "text",
	        contentType : "text/plain"
    	});
    }
    $('#response').show();
    $('#load').button('reset');
    return false;
}

function deleteCookie( name ) {
    document.cookie = name + "=" +
      ";path=/"+
      ";domain=."+ window.document.domain +
      ";expires=Thu, 01 Jan 1970 00:00:01 GMT";
}

function eraseCookie(name) {
    createCookie(name,"",-1);
}

function createCookie(name,value,days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
}
</script>
    </p>
    <p> 
    <div id="response" style="word-wrap: break-word;"></div>
    </p>
</div>

{{ end }}

{{ define "head" }}
  <!--Show ability to set title with the same data-->
  <title>{{printf "%s" .Title}}</title>
{{ end }}
